*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: rgba(255, 212, 212, 0.699);
}

.header__top{
    display: flex;
    flex-direction: row;
}

.header__top-logo{
    font-family: 'Open Sans Condensed', sans-serif;
    flex-grow: 3;
    padding: 20px;
    text-align: center;
    color: rgb(155, 155, 173);
    font-size: 40px;
}

.header__bottom-menu{
    list-style-type: none;
    text-align: center;
}

.header__bottom-menu li{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 20px;
}

.header__bottom-menu li a{
    text-decoration: none;
    color: rgb(126, 126, 151);
}

.header__bottom-menu li a:hover{
    color: rgb(165, 56, 56);  
}

/*УСЛУГИ*/
.services{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 245, 245, 0.842);
    padding: 30px 10px;
}

.services__title{
    text-align: center;
    color: rgb(165, 111, 155);
}

.services__types{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 40px auto;
}

.services__types-1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 150px;
    margin: 1%;
    padding: 30px 10px 20px;
    box-shadow: 5px 10px 20px rgb(248, 205, 205);
    background-color: rgb(229, 235, 253);
}

.services__types-text h3{
    margin: 20px 0;
    color: rgb(145, 67, 141);
}

.services__types-text{
    text-align: center;
    color: rgb(94, 26, 82);
    margin: 10px 0;
}

.services__types-text h4{
    margin-top: 15px;
}

.services__types-1 .fas{
    font-size: 40px;
    color: rgb(145, 67, 141);
    text-align: center;
}

/*ФОРМА СООБЩЕНИЯ*/
.message{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 10px;
}

.message__text{
    height: 40px;
    width: 30%;
    margin: -60px auto 10px;
    padding: 5px;
    color: rgb(107, 78, 78);
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 10px 15px 5px rgba(253, 202, 192, 0.74);
    background-color: rgba(255, 198, 198, 0.932);
}

.message__text p{
    margin: 10px;
    font-size: 20px; 
}

.message__form-block{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.message__form-1{
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    margin: 5px;
}

#name{
    border-radius: 5px;
    border: 0.5px solid rgba(201, 122, 122, 0.829);
    height: 50px;
    outline: none;
    padding-left: 10px;
}

.message__name{
    color:rgb(51, 29, 43);
}

.message__form-2{
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    margin: 5px;
}

#tel{
    border-radius: 5px;
    border: 0.5px solid rgba(201, 122, 122, 0.829);
    height: 50px;
    outline: none;
    padding-left: 10px;
}

#text[placeholder]{
    padding-top: 15px;
    font-size: 15px;
    outline: none;
    padding-left: 10px;
}

.message__form-3{
    display: flex;
    flex-direction: column;
    flex: 4 1 100px;
    margin: 5px;
}

#text{
    border-radius: 5px;
    border: 0.5px solid rgba(201, 122, 122, 0.829);
    height: 35px;
}

.message__form-4{
    flex: 1 1 100px;
    margin: 5px;
    padding-top: 16px;
}

.message__button{
    flex: 1 1 100px;
    margin: 2px 0;
    border-radius: 5px;
    border: none;
    background-color:rgba(241, 199, 199, 0.726);
    color: rgb(50, 50, 94);
    text-align: center;
    font-size: 15px;
    height: 52px;
    width: 100%;
    transition-duration: 0.5s;
    outline: none;
}

.message__button:hover{
    cursor: pointer;
    background-color: rgba(219, 119, 119, 0.678);
    color: rgb(255, 255, 255);
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 174, 174);
    color: #fff;
    padding: 30px 10px;
}

.footer__block-catering,
.footer__block-links,
.footer__block-nav{
    display: none;
}

.footer__block-contacts{
    display: grid;
    grid-template-columns: 30px 220px 30px 220px 30px 220px 30px 1fr;
    grid-template-rows: 80px;
    width: 90%;
    margin: 10px auto;
}

#cm{
    grid-column: 1/9;
    text-align: center;
}

#cm a{
    margin: 20px;
}

#cm .fab{
    font-size: 20px;
    color:#ffffff;
    transition-duration: 0.5s;
}

#cm .fab:hover{
    font-size: 30px;
}

.footer__block-text{
    margin: 10px auto;
}



@media all and (min-width: 1024px) and (max-width: 1279px){ /************************************************/
    .services__types{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 320px 320px;
        padding: 5px;
    }
    .services__types-1{
        width: 90%;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){ /************************************************/
    .header__bottom-menu li{
        margin: 10px 15px;
    }    
    .services__types{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 320px 320px 320px;
        padding: 5px;
    }
    .services__types-1{
        width: 90%;
    }
    .message__form-1{
        flex: 1 1 10%;
    }
    .message__form-2{
        flex: 1 1 10%;
    }
    .message__form-3{
        flex: 4 1 50%;
    }
    .message__form-4{
        flex: 1 1 20%;
    }
    /*FOOTER*/

.footer__block-contacts{
    display: grid;
    grid-template-columns: 30px 220px 30px 220px;
    grid-template-rows: 80px 80px 80px;
    width: 90%;
    margin: 10px auto;
}

#cm{
    grid-column: 1/9;
    text-align: center;
}

#cm a{
    margin: 20px;
}

#cm .fab{
    font-size: 20px;
    color:#ffffff;
    transition-duration: 0.5s;
}

#cm .fab:hover{
    font-size: 30px;
}

.footer__block-text{
    margin: 10px auto;
}

    
}
@media all and (min-width: 480px) and (max-width: 767px){ /************************************************/
    .header__top{
        padding: 5px;
    }
    .header__top-logo {
        font-size: 4vw;
        padding: 2px;
    }
    .header__bottom-menu li{
        margin: 5px;
        font-size: 3vw;
    }
    .services__types{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 350px 350px 350px;
        padding: 3px;
        width: 98%;
        margin: 10px auto;
    }
    .services__types-1{
        width: 90%;
    }
    .message__button{
        margin-bottom: 20px;
    }
    .message__text{
        width: 50%;
    }
    .message__form-block{
        display: flex;
        flex-direction: column;
        margin: 10px auto 10px;
        height: 100px;
    }
    #name, #tel{
        height: 30px;
    }
}
@media all and (min-width: 320px) and (max-width: 479px){ /************************************************/
    .header__top{
        padding: 5px;
    }
    .header__top-logo {
        font-size: 4vw;
        padding: 2px;
    }
    .header__bottom-menu li{
        margin: 3px;
        font-size: 3vw;
    }
    .services{
        padding: 10px;
        
    }
    .services__types{
        display: grid;
        grid-template-columns: 98;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        padding: 3px;
        width: 98%;
        margin: 10px 0;
    }
    .services__types-1{
        width: 90%;
        font-size: 16px;
    }
    .message__button{
        margin-bottom: 20px;
    }
    .message__text{
        width: 80%;
    }
    .message__form-block{
        display: flex;
        flex-direction: column;
        margin: 10px auto 10px;
        height: 100px;
    }
    #name, #tel{
        height: 30px;
    }
}

